@use './_content.scss';
@use './_founders.scss';
@use './_cards.scss';
@use './error_page.scss';
@use './_author.scss';

.mission-statement-card.card {
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5em;
  width: fit-content;
  background-color: black;

  h3 {
    color: white;
  }
}

.about {
  margin-top: 6.25rem;

  .stats,
  .stats-user,
  .stats-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .stats {
    flex-wrap: wrap;
  }

  .stats-user {
    flex-direction: column;

    .author-pic {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .story {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  section {
    margin: 0;
    min-height: fit-content;
  }
}

@media screen and (min-width: 700px) {
  .stats-bar {
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }
}
