@use './_content.scss';
@use './_founders.scss';
@use './_cards.scss';
@use './error_page.scss';

.mission-statement-card.card {
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5em;
  width: fit-content;
  background-color: black;

  h3 {
    color: white;
  }
}

.about {
  margin-top: 6.25rem;
  .story {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  section {
    margin: 0;
    min-height: fit-content;
  }
}
