button,
.search-submit {
  cursor: pointer;
  border: none;
  width: fit-content;
  height: fit-content;
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  
  h2,
  h3 {
    padding: 0.5em;
    color: var(--button-color);
  }
}
