@use '_social-bar.scss';

footer {
  grid-area: Footer;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .legal {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5em;
  }
}
