@use '_gallery.scss';
@use '_project_status.scss';
@use '_project_skills_bar.scss';

button {
  background-color: white;

  .project-card {
    height: 100%;
    padding: 1rem;

    .title {
      color: var(--color-text);
    }
  }
}
