.project-skills-bar {
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  i {
    font-size: 2rem;
  }

  img {
    width: 100%;
    max-width: 4rem;
    height: auto;
  }
}
