@use './error_page.scss';

section.resume {
  margin-top: 6.25rem;

  iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 90vw;
    min-height: 100vh;
    box-shadow: var(--box-shadow);
    border-color: black;
  }
}
