:root {
  --icon-color: black;
  --header-background-color: blue;
  --header-box-shadow: 4px 4px 10px gray;
  --card-background-color: blue;
  --card-box-shadow: 4px 4px 10px gray;
  --footer-background-color: blue;
  --footer-box-shadow: 4px 4px 10px gray;
}
